.header{
    position: flex;
    top:0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-shadow-color);
}
.header-nav{

    padding: 0.5rem 0;
    
     

}
.header-nav__container{
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 1024px;
     margin: auto;
     padding: var(--padding-container);




}
.header-nav__link-logo-container{

    
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    height: 3rem;
    transition: var(--all-transitions);

   

}

.header-nav__link-logo-container:hover{

    box-shadow: 0 0 1rem 0 var(--primary-highlight);

  
}

 
 
.header-nav__link-logo{

    height: 100%;
     

}

.header-nav__menu-icon-label{

    font-size: 2rem;
    cursor: pointer;
    transition: var(--all-transitions);



}
.header-nav__menu-icon-label:hover{

    text-shadow: 0 0 0.25rem var(--primary-highlight); 
    text-shadow: 0 0 0.5rem var(--primary-highlight); 
}
.header-nav__menu-icon-checkbox{
    display: none;
}

.header-nav__menu-icon-checkbox:checked+ .header-nav__menu-link-list {

    left: 0;
    
  
}
.header-nav__menu-link-list{
    position: fixed;
    top: 4rem;
    left: 100%;
     
    width: 100vw;
    height: calc(100% - 4rem);
    background-color: var(--primary-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap :2rem ; 
    list-style: none;
    margin: 0;
    padding: 0;
    transition: var(--all-transitions);

 

}
.header-nav__menu-link-item{

    display :flex;
    
}
.header-nav__menu-link{
    position: relative;
    color: var(--text-color);
    text-decoration:none;
    font-weight: bold;
    transition: var(--all-transitions);
    
}
.header-nav__menu-link:hover,
.header-nav__menu-link--active{
    
    color: var(--primary-highlight);
     
     
}

.header-nav__menu-link::after{
    content: '';
    position: absolute;
    bottom:-0.125rem;
    left: 0;
    background-color: var(--secondary-highlight);
    width: 0;
    height: 0.0625rem;
    transition: var(--all-transitions);

}
.header-nav__menu-link:hover:after,
.header-nav__menu-link--active::after{
    width: 100%;
}