body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(https://fondosmil.com/fondo/17010.jpg);
    background-position: center;
    background-size: cover;
    
    color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    
}

.header{
    display: flex;


}
.header__image-container{
    display: flex;
    max-width: 256px;
    border-radius: 50%;
    overflow: hidden;


}
.header__image{
    width: 100%;
    
    
}
.footer{
    display: flex;

}
.footer-nav{
    display: flex;

}
.footer-nav-container{
    display: flex;

}
.footer-nav__link-lista{
    gap: 1rem;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}
.footer-nav__link-item{

    

}
.footer-nav__link{
    display: flex; 
    width: 1.5rem;

}
.footer-nav__link-image{
    width: 100%;

}